<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yao.building.manage.dao.BuildingInfoDao" >
  <resultMap id="BaseResultMap" type="com.yao.building.manage.domain.BuildingInfo" >
    <id column="Fid" property="id" jdbcType="INTEGER" />
    <result column="Fprovince_id" property="provinceId" jdbcType="INTEGER" />
    <result column="Fprovince_name" property="provinceName" jdbcType="VARCHAR" />
    <result column="Fcity_id" property="cityId" jdbcType="INTEGER" />
    <result column="Fcity_name" property="cityName" jdbcType="VARCHAR" />
    <result column="Farea_id" property="areaId" jdbcType="INTEGER" />
    <result column="Farea_name" property="areaName" jdbcType="VARCHAR" />
    <result column="Fstreet_id" property="streetId" jdbcType="INTEGER" />
    <result column="Fstreet_name" property="streetName" jdbcType="VARCHAR" />
    <result column="Fvillage_id" property="villageId" jdbcType="INTEGER" />
    <result column="Fvillage_name" property="villageName" jdbcType="VARCHAR" />
    <result column="Fbuilding_desc" property="buildingDesc" jdbcType="VARCHAR" />
    <result column="Fmanage_fee" property="manageFee" jdbcType="INTEGER" />
    <result column="Fstatus" property="status" jdbcType="INTEGER" />
    <result column="Fcreate_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="Fmodify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="Foperator" property="operator" jdbcType="VARCHAR" />
    <result column="Fversion" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Fid, Fprovince_id, Fprovince_name, Fcity_id, Fcity_name, Farea_id, Farea_name, Fstreet_id, 
    Fstreet_name, Fvillage_id, Fvillage_name, Fbuilding_desc, Fmanage_fee, Fstatus, Fcreate_time, 
    Fmodify_time, Foperator, Fversion
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yao.building.manage.domain.BuildingInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_building_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_building_info
    where Fid = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_building_info
    where Fid = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yao.building.manage.domain.BuildingInfoExample" >
    delete from t_building_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yao.building.manage.domain.BuildingInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into t_building_info (Fprovince_id, Fprovince_name, Fcity_id, 
      Fcity_name, Farea_id, Farea_name, 
      Fstreet_id, Fstreet_name, Fvillage_id, 
      Fvillage_name, Fbuilding_desc, Fmanage_fee, 
      Fstatus, Fcreate_time, Fmodify_time, 
      Foperator, Fversion)
    values (#{provinceId,jdbcType=INTEGER}, #{provinceName,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER}, 
      #{cityName,jdbcType=VARCHAR}, #{areaId,jdbcType=INTEGER}, #{areaName,jdbcType=VARCHAR}, 
      #{streetId,jdbcType=INTEGER}, #{streetName,jdbcType=VARCHAR}, #{villageId,jdbcType=INTEGER}, 
      #{villageName,jdbcType=VARCHAR}, #{buildingDesc,jdbcType=VARCHAR}, #{manageFee,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{operator,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yao.building.manage.domain.BuildingInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into t_building_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="provinceId != null" >
        Fprovince_id,
      </if>
      <if test="provinceName != null" >
        Fprovince_name,
      </if>
      <if test="cityId != null" >
        Fcity_id,
      </if>
      <if test="cityName != null" >
        Fcity_name,
      </if>
      <if test="areaId != null" >
        Farea_id,
      </if>
      <if test="areaName != null" >
        Farea_name,
      </if>
      <if test="streetId != null" >
        Fstreet_id,
      </if>
      <if test="streetName != null" >
        Fstreet_name,
      </if>
      <if test="villageId != null" >
        Fvillage_id,
      </if>
      <if test="villageName != null" >
        Fvillage_name,
      </if>
      <if test="buildingDesc != null" >
        Fbuilding_desc,
      </if>
      <if test="manageFee != null" >
        Fmanage_fee,
      </if>
      <if test="status != null" >
        Fstatus,
      </if>
      <if test="createTime != null" >
        Fcreate_time,
      </if>
      <if test="modifyTime != null" >
        Fmodify_time,
      </if>
      <if test="operator != null" >
        Foperator,
      </if>
      <if test="version != null" >
        Fversion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="provinceId != null" >
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="streetId != null" >
        #{streetId,jdbcType=INTEGER},
      </if>
      <if test="streetName != null" >
        #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="villageId != null" >
        #{villageId,jdbcType=INTEGER},
      </if>
      <if test="villageName != null" >
        #{villageName,jdbcType=VARCHAR},
      </if>
      <if test="buildingDesc != null" >
        #{buildingDesc,jdbcType=VARCHAR},
      </if>
      <if test="manageFee != null" >
        #{manageFee,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yao.building.manage.domain.BuildingInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_building_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_building_info
    <set >
      <if test="record.id != null" >
        Fid = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.provinceId != null" >
        Fprovince_id = #{record.provinceId,jdbcType=INTEGER},
      </if>
      <if test="record.provinceName != null" >
        Fprovince_name = #{record.provinceName,jdbcType=VARCHAR},
      </if>
      <if test="record.cityId != null" >
        Fcity_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.cityName != null" >
        Fcity_name = #{record.cityName,jdbcType=VARCHAR},
      </if>
      <if test="record.areaId != null" >
        Farea_id = #{record.areaId,jdbcType=INTEGER},
      </if>
      <if test="record.areaName != null" >
        Farea_name = #{record.areaName,jdbcType=VARCHAR},
      </if>
      <if test="record.streetId != null" >
        Fstreet_id = #{record.streetId,jdbcType=INTEGER},
      </if>
      <if test="record.streetName != null" >
        Fstreet_name = #{record.streetName,jdbcType=VARCHAR},
      </if>
      <if test="record.villageId != null" >
        Fvillage_id = #{record.villageId,jdbcType=INTEGER},
      </if>
      <if test="record.villageName != null" >
        Fvillage_name = #{record.villageName,jdbcType=VARCHAR},
      </if>
      <if test="record.buildingDesc != null" >
        Fbuilding_desc = #{record.buildingDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.manageFee != null" >
        Fmanage_fee = #{record.manageFee,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        Fstatus = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        Fcreate_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        Fmodify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operator != null" >
        Foperator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        Fversion = #{record.version,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_building_info
    set Fid = #{record.id,jdbcType=INTEGER},
      Fprovince_id = #{record.provinceId,jdbcType=INTEGER},
      Fprovince_name = #{record.provinceName,jdbcType=VARCHAR},
      Fcity_id = #{record.cityId,jdbcType=INTEGER},
      Fcity_name = #{record.cityName,jdbcType=VARCHAR},
      Farea_id = #{record.areaId,jdbcType=INTEGER},
      Farea_name = #{record.areaName,jdbcType=VARCHAR},
      Fstreet_id = #{record.streetId,jdbcType=INTEGER},
      Fstreet_name = #{record.streetName,jdbcType=VARCHAR},
      Fvillage_id = #{record.villageId,jdbcType=INTEGER},
      Fvillage_name = #{record.villageName,jdbcType=VARCHAR},
      Fbuilding_desc = #{record.buildingDesc,jdbcType=VARCHAR},
      Fmanage_fee = #{record.manageFee,jdbcType=INTEGER},
      Fstatus = #{record.status,jdbcType=INTEGER},
      Fcreate_time = #{record.createTime,jdbcType=TIMESTAMP},
      Fmodify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      Foperator = #{record.operator,jdbcType=VARCHAR},
      Fversion = #{record.version,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yao.building.manage.domain.BuildingInfo" >
    update t_building_info
    <set >
      <if test="provinceId != null" >
        Fprovince_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="provinceName != null" >
        Fprovince_name = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        Fcity_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="cityName != null" >
        Fcity_name = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        Farea_id = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="areaName != null" >
        Farea_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="streetId != null" >
        Fstreet_id = #{streetId,jdbcType=INTEGER},
      </if>
      <if test="streetName != null" >
        Fstreet_name = #{streetName,jdbcType=VARCHAR},
      </if>
      <if test="villageId != null" >
        Fvillage_id = #{villageId,jdbcType=INTEGER},
      </if>
      <if test="villageName != null" >
        Fvillage_name = #{villageName,jdbcType=VARCHAR},
      </if>
      <if test="buildingDesc != null" >
        Fbuilding_desc = #{buildingDesc,jdbcType=VARCHAR},
      </if>
      <if test="manageFee != null" >
        Fmanage_fee = #{manageFee,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        Fstatus = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        Fcreate_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        Fmodify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        Foperator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        Fversion = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where Fid = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yao.building.manage.domain.BuildingInfo" >
    update t_building_info
    set Fprovince_id = #{provinceId,jdbcType=INTEGER},
      Fprovince_name = #{provinceName,jdbcType=VARCHAR},
      Fcity_id = #{cityId,jdbcType=INTEGER},
      Fcity_name = #{cityName,jdbcType=VARCHAR},
      Farea_id = #{areaId,jdbcType=INTEGER},
      Farea_name = #{areaName,jdbcType=VARCHAR},
      Fstreet_id = #{streetId,jdbcType=INTEGER},
      Fstreet_name = #{streetName,jdbcType=VARCHAR},
      Fvillage_id = #{villageId,jdbcType=INTEGER},
      Fvillage_name = #{villageName,jdbcType=VARCHAR},
      Fbuilding_desc = #{buildingDesc,jdbcType=VARCHAR},
      Fmanage_fee = #{manageFee,jdbcType=INTEGER},
      Fstatus = #{status,jdbcType=INTEGER},
      Fcreate_time = #{createTime,jdbcType=TIMESTAMP},
      Fmodify_time = #{modifyTime,jdbcType=TIMESTAMP},
      Foperator = #{operator,jdbcType=VARCHAR},
      Fversion = #{version,jdbcType=INTEGER}
    where Fid = #{id,jdbcType=INTEGER}
  </update>
</mapper>