<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yao.building.manage.dao.RoomFeeWaterDao" >
  <resultMap id="BaseResultMap" type="com.yao.building.manage.domain.RoomFeeWater" >
    <id column="Fid" property="id" jdbcType="INTEGER" />
    <result column="Findex" property="index" jdbcType="INTEGER" />
    <result column="Froom_id" property="roomId" jdbcType="INTEGER" />
    <result column="Frent_fee" property="rentFee" jdbcType="INTEGER" />
    <result column="Fenergy_fee" property="energyFee" jdbcType="DECIMAL" />
    <result column="Fwater_fee" property="waterFee" jdbcType="DECIMAL" />
    <result column="Fmanage_fee" property="manageFee" jdbcType="INTEGER" />
    <result column="Fclean_fee" property="cleanFee" jdbcType="INTEGER" />
    <result column="Finternet_fee" property="internetFee" jdbcType="INTEGER" />
    <result column="Fall_fee" property="allFee" jdbcType="DECIMAL" />
    <result column="Fpay_status" property="payStatus" jdbcType="INTEGER" />
    <result column="Fstart_fee_time" property="startFeeTime" jdbcType="TIMESTAMP" />
    <result column="Fend_fee_time" property="endFeeTime" jdbcType="TIMESTAMP" />
    <result column="Fcreate_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="Fmodify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="Foperator" property="operator" jdbcType="VARCHAR" />
    <result column="Fversion" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Fid, Findex, Froom_id, Frent_fee, Fenergy_fee, Fwater_fee, Fmanage_fee, Fclean_fee, 
    Finternet_fee, Fall_fee, Fpay_status, Fstart_fee_time, Fend_fee_time, Fcreate_time, 
    Fmodify_time, Foperator, Fversion
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yao.building.manage.domain.RoomFeeWaterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_room_fee_water
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_room_fee_water
    where Fid = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_room_fee_water
    where Fid = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yao.building.manage.domain.RoomFeeWaterExample" >
    delete from t_room_fee_water
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yao.building.manage.domain.RoomFeeWater" useGeneratedKeys="true" keyProperty="id" >
    insert into t_room_fee_water (Findex, Froom_id, Frent_fee, 
      Fenergy_fee, Fwater_fee, Fmanage_fee, 
      Fclean_fee, Finternet_fee, Fall_fee, 
      Fpay_status, Fstart_fee_time, Fend_fee_time, 
      Fcreate_time, Fmodify_time, Foperator, 
      Fversion)
    values (#{index,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, #{rentFee,jdbcType=INTEGER}, 
      #{energyFee,jdbcType=DECIMAL}, #{waterFee,jdbcType=DECIMAL}, #{manageFee,jdbcType=INTEGER}, 
      #{cleanFee,jdbcType=INTEGER}, #{internetFee,jdbcType=INTEGER}, #{allFee,jdbcType=DECIMAL}, 
      #{payStatus,jdbcType=INTEGER}, #{startFeeTime,jdbcType=TIMESTAMP}, #{endFeeTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yao.building.manage.domain.RoomFeeWater" useGeneratedKeys="true" keyProperty="id" >
    insert into t_room_fee_water
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="index != null" >
        Findex,
      </if>
      <if test="roomId != null" >
        Froom_id,
      </if>
      <if test="rentFee != null" >
        Frent_fee,
      </if>
      <if test="energyFee != null" >
        Fenergy_fee,
      </if>
      <if test="waterFee != null" >
        Fwater_fee,
      </if>
      <if test="manageFee != null" >
        Fmanage_fee,
      </if>
      <if test="cleanFee != null" >
        Fclean_fee,
      </if>
      <if test="internetFee != null" >
        Finternet_fee,
      </if>
      <if test="allFee != null" >
        Fall_fee,
      </if>
      <if test="payStatus != null" >
        Fpay_status,
      </if>
      <if test="startFeeTime != null" >
        Fstart_fee_time,
      </if>
      <if test="endFeeTime != null" >
        Fend_fee_time,
      </if>
      <if test="createTime != null" >
        Fcreate_time,
      </if>
      <if test="modifyTime != null" >
        Fmodify_time,
      </if>
      <if test="operator != null" >
        Foperator,
      </if>
      <if test="version != null" >
        Fversion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="index != null" >
        #{index,jdbcType=INTEGER},
      </if>
      <if test="roomId != null" >
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="rentFee != null" >
        #{rentFee,jdbcType=INTEGER},
      </if>
      <if test="energyFee != null" >
        #{energyFee,jdbcType=DECIMAL},
      </if>
      <if test="waterFee != null" >
        #{waterFee,jdbcType=DECIMAL},
      </if>
      <if test="manageFee != null" >
        #{manageFee,jdbcType=INTEGER},
      </if>
      <if test="cleanFee != null" >
        #{cleanFee,jdbcType=INTEGER},
      </if>
      <if test="internetFee != null" >
        #{internetFee,jdbcType=INTEGER},
      </if>
      <if test="allFee != null" >
        #{allFee,jdbcType=DECIMAL},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="startFeeTime != null" >
        #{startFeeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endFeeTime != null" >
        #{endFeeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yao.building.manage.domain.RoomFeeWaterExample" resultType="java.lang.Integer" >
    select count(*) from t_room_fee_water
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_room_fee_water
    <set >
      <if test="record.id != null" >
        Fid = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.index != null" >
        Findex = #{record.index,jdbcType=INTEGER},
      </if>
      <if test="record.roomId != null" >
        Froom_id = #{record.roomId,jdbcType=INTEGER},
      </if>
      <if test="record.rentFee != null" >
        Frent_fee = #{record.rentFee,jdbcType=INTEGER},
      </if>
      <if test="record.energyFee != null" >
        Fenergy_fee = #{record.energyFee,jdbcType=DECIMAL},
      </if>
      <if test="record.waterFee != null" >
        Fwater_fee = #{record.waterFee,jdbcType=DECIMAL},
      </if>
      <if test="record.manageFee != null" >
        Fmanage_fee = #{record.manageFee,jdbcType=INTEGER},
      </if>
      <if test="record.cleanFee != null" >
        Fclean_fee = #{record.cleanFee,jdbcType=INTEGER},
      </if>
      <if test="record.internetFee != null" >
        Finternet_fee = #{record.internetFee,jdbcType=INTEGER},
      </if>
      <if test="record.allFee != null" >
        Fall_fee = #{record.allFee,jdbcType=DECIMAL},
      </if>
      <if test="record.payStatus != null" >
        Fpay_status = #{record.payStatus,jdbcType=INTEGER},
      </if>
      <if test="record.startFeeTime != null" >
        Fstart_fee_time = #{record.startFeeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endFeeTime != null" >
        Fend_fee_time = #{record.endFeeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        Fcreate_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        Fmodify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operator != null" >
        Foperator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        Fversion = #{record.version,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_room_fee_water
    set Fid = #{record.id,jdbcType=INTEGER},
      Findex = #{record.index,jdbcType=INTEGER},
      Froom_id = #{record.roomId,jdbcType=INTEGER},
      Frent_fee = #{record.rentFee,jdbcType=INTEGER},
      Fenergy_fee = #{record.energyFee,jdbcType=DECIMAL},
      Fwater_fee = #{record.waterFee,jdbcType=DECIMAL},
      Fmanage_fee = #{record.manageFee,jdbcType=INTEGER},
      Fclean_fee = #{record.cleanFee,jdbcType=INTEGER},
      Finternet_fee = #{record.internetFee,jdbcType=INTEGER},
      Fall_fee = #{record.allFee,jdbcType=DECIMAL},
      Fpay_status = #{record.payStatus,jdbcType=INTEGER},
      Fstart_fee_time = #{record.startFeeTime,jdbcType=TIMESTAMP},
      Fend_fee_time = #{record.endFeeTime,jdbcType=TIMESTAMP},
      Fcreate_time = #{record.createTime,jdbcType=TIMESTAMP},
      Fmodify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      Foperator = #{record.operator,jdbcType=VARCHAR},
      Fversion = #{record.version,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yao.building.manage.domain.RoomFeeWater" >
    update t_room_fee_water
    <set >
      <if test="index != null" >
        Findex = #{index,jdbcType=INTEGER},
      </if>
      <if test="roomId != null" >
        Froom_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="rentFee != null" >
        Frent_fee = #{rentFee,jdbcType=INTEGER},
      </if>
      <if test="energyFee != null" >
        Fenergy_fee = #{energyFee,jdbcType=DECIMAL},
      </if>
      <if test="waterFee != null" >
        Fwater_fee = #{waterFee,jdbcType=DECIMAL},
      </if>
      <if test="manageFee != null" >
        Fmanage_fee = #{manageFee,jdbcType=INTEGER},
      </if>
      <if test="cleanFee != null" >
        Fclean_fee = #{cleanFee,jdbcType=INTEGER},
      </if>
      <if test="internetFee != null" >
        Finternet_fee = #{internetFee,jdbcType=INTEGER},
      </if>
      <if test="allFee != null" >
        Fall_fee = #{allFee,jdbcType=DECIMAL},
      </if>
      <if test="payStatus != null" >
        Fpay_status = #{payStatus,jdbcType=INTEGER},
      </if>
      <if test="startFeeTime != null" >
        Fstart_fee_time = #{startFeeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endFeeTime != null" >
        Fend_fee_time = #{endFeeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        Fcreate_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        Fmodify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        Foperator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        Fversion = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where Fid = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yao.building.manage.domain.RoomFeeWater" >
    update t_room_fee_water
    set Findex = #{index,jdbcType=INTEGER},
      Froom_id = #{roomId,jdbcType=INTEGER},
      Frent_fee = #{rentFee,jdbcType=INTEGER},
      Fenergy_fee = #{energyFee,jdbcType=DECIMAL},
      Fwater_fee = #{waterFee,jdbcType=DECIMAL},
      Fmanage_fee = #{manageFee,jdbcType=INTEGER},
      Fclean_fee = #{cleanFee,jdbcType=INTEGER},
      Finternet_fee = #{internetFee,jdbcType=INTEGER},
      Fall_fee = #{allFee,jdbcType=DECIMAL},
      Fpay_status = #{payStatus,jdbcType=INTEGER},
      Fstart_fee_time = #{startFeeTime,jdbcType=TIMESTAMP},
      Fend_fee_time = #{endFeeTime,jdbcType=TIMESTAMP},
      Fcreate_time = #{createTime,jdbcType=TIMESTAMP},
      Fmodify_time = #{modifyTime,jdbcType=TIMESTAMP},
      Foperator = #{operator,jdbcType=VARCHAR},
      Fversion = #{version,jdbcType=INTEGER}
    where Fid = #{id,jdbcType=INTEGER}
  </update>
</mapper>