<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yao.building.manage.dao.RoomInfoDao" >
  <resultMap id="BaseResultMap" type="com.yao.building.manage.domain.RoomInfo" >
    <id column="Fid" property="id" jdbcType="INTEGER" />
    <result column="Froom_no" property="roomNo" jdbcType="INTEGER" />
    <result column="Froom_desc" property="roomDesc" jdbcType="VARCHAR" />
    <result column="Froom_type" property="roomType" jdbcType="TINYINT" />
    <result column="Froom_type_desc" property="roomTypeDesc" jdbcType="VARCHAR" />
    <result column="Frent" property="rent" jdbcType="INTEGER" />
    <result column="Fenergy_num" property="energyNum" jdbcType="INTEGER" />
    <result column="Fwater_num" property="waterNum" jdbcType="INTEGER" />
    <result column="Froom_status" property="roomStatus" jdbcType="INTEGER" />
    <result column="Fcreate_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="Fmodify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="Foperator" property="operator" jdbcType="VARCHAR" />
    <result column="Fversion" property="version" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Fid, Froom_no, Froom_desc, Froom_type, Froom_type_desc, Frent, Fenergy_num, Fwater_num, 
    Froom_status, Fcreate_time, Fmodify_time, Foperator, Fversion
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yao.building.manage.domain.RoomInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_room_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_room_info
    where Fid = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_room_info
    where Fid = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yao.building.manage.domain.RoomInfoExample" >
    delete from t_room_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yao.building.manage.domain.RoomInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into t_room_info (Froom_no, Froom_desc, Froom_type, 
      Froom_type_desc, Frent, Fenergy_num, 
      Fwater_num, Froom_status, Fcreate_time, 
      Fmodify_time, Foperator, Fversion
      )
    values (#{roomNo,jdbcType=INTEGER}, #{roomDesc,jdbcType=VARCHAR}, #{roomType,jdbcType=TINYINT}, 
      #{roomTypeDesc,jdbcType=VARCHAR}, #{rent,jdbcType=INTEGER}, #{energyNum,jdbcType=INTEGER}, 
      #{waterNum,jdbcType=INTEGER}, #{roomStatus,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{operator,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yao.building.manage.domain.RoomInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into t_room_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roomNo != null" >
        Froom_no,
      </if>
      <if test="roomDesc != null" >
        Froom_desc,
      </if>
      <if test="roomType != null" >
        Froom_type,
      </if>
      <if test="roomTypeDesc != null" >
        Froom_type_desc,
      </if>
      <if test="rent != null" >
        Frent,
      </if>
      <if test="energyNum != null" >
        Fenergy_num,
      </if>
      <if test="waterNum != null" >
        Fwater_num,
      </if>
      <if test="roomStatus != null" >
        Froom_status,
      </if>
      <if test="createTime != null" >
        Fcreate_time,
      </if>
      <if test="modifyTime != null" >
        Fmodify_time,
      </if>
      <if test="operator != null" >
        Foperator,
      </if>
      <if test="version != null" >
        Fversion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roomNo != null" >
        #{roomNo,jdbcType=INTEGER},
      </if>
      <if test="roomDesc != null" >
        #{roomDesc,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null" >
        #{roomType,jdbcType=TINYINT},
      </if>
      <if test="roomTypeDesc != null" >
        #{roomTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="rent != null" >
        #{rent,jdbcType=INTEGER},
      </if>
      <if test="energyNum != null" >
        #{energyNum,jdbcType=INTEGER},
      </if>
      <if test="waterNum != null" >
        #{waterNum,jdbcType=INTEGER},
      </if>
      <if test="roomStatus != null" >
        #{roomStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yao.building.manage.domain.RoomInfoExample" resultType="java.lang.Integer" >
    select count(*) from t_room_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_room_info
    <set >
      <if test="record.id != null" >
        Fid = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.roomNo != null" >
        Froom_no = #{record.roomNo,jdbcType=INTEGER},
      </if>
      <if test="record.roomDesc != null" >
        Froom_desc = #{record.roomDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.roomType != null" >
        Froom_type = #{record.roomType,jdbcType=TINYINT},
      </if>
      <if test="record.roomTypeDesc != null" >
        Froom_type_desc = #{record.roomTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.rent != null" >
        Frent = #{record.rent,jdbcType=INTEGER},
      </if>
      <if test="record.energyNum != null" >
        Fenergy_num = #{record.energyNum,jdbcType=INTEGER},
      </if>
      <if test="record.waterNum != null" >
        Fwater_num = #{record.waterNum,jdbcType=INTEGER},
      </if>
      <if test="record.roomStatus != null" >
        Froom_status = #{record.roomStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        Fcreate_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyTime != null" >
        Fmodify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operator != null" >
        Foperator = #{record.operator,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null" >
        Fversion = #{record.version,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_room_info
    set Fid = #{record.id,jdbcType=INTEGER},
      Froom_no = #{record.roomNo,jdbcType=INTEGER},
      Froom_desc = #{record.roomDesc,jdbcType=VARCHAR},
      Froom_type = #{record.roomType,jdbcType=TINYINT},
      Froom_type_desc = #{record.roomTypeDesc,jdbcType=VARCHAR},
      Frent = #{record.rent,jdbcType=INTEGER},
      Fenergy_num = #{record.energyNum,jdbcType=INTEGER},
      Fwater_num = #{record.waterNum,jdbcType=INTEGER},
      Froom_status = #{record.roomStatus,jdbcType=INTEGER},
      Fcreate_time = #{record.createTime,jdbcType=TIMESTAMP},
      Fmodify_time = #{record.modifyTime,jdbcType=TIMESTAMP},
      Foperator = #{record.operator,jdbcType=VARCHAR},
      Fversion = #{record.version,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yao.building.manage.domain.RoomInfo" >
    update t_room_info
    <set >
      <if test="roomNo != null" >
        Froom_no = #{roomNo,jdbcType=INTEGER},
      </if>
      <if test="roomDesc != null" >
        Froom_desc = #{roomDesc,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null" >
        Froom_type = #{roomType,jdbcType=TINYINT},
      </if>
      <if test="roomTypeDesc != null" >
        Froom_type_desc = #{roomTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="rent != null" >
        Frent = #{rent,jdbcType=INTEGER},
      </if>
      <if test="energyNum != null" >
        Fenergy_num = #{energyNum,jdbcType=INTEGER},
      </if>
      <if test="waterNum != null" >
        Fwater_num = #{waterNum,jdbcType=INTEGER},
      </if>
      <if test="roomStatus != null" >
        Froom_status = #{roomStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        Fcreate_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        Fmodify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null" >
        Foperator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        Fversion = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where Fid = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yao.building.manage.domain.RoomInfo" >
    update t_room_info
    set Froom_no = #{roomNo,jdbcType=INTEGER},
      Froom_desc = #{roomDesc,jdbcType=VARCHAR},
      Froom_type = #{roomType,jdbcType=TINYINT},
      Froom_type_desc = #{roomTypeDesc,jdbcType=VARCHAR},
      Frent = #{rent,jdbcType=INTEGER},
      Fenergy_num = #{energyNum,jdbcType=INTEGER},
      Fwater_num = #{waterNum,jdbcType=INTEGER},
      Froom_status = #{roomStatus,jdbcType=INTEGER},
      Fcreate_time = #{createTime,jdbcType=TIMESTAMP},
      Fmodify_time = #{modifyTime,jdbcType=TIMESTAMP},
      Foperator = #{operator,jdbcType=VARCHAR},
      Fversion = #{version,jdbcType=INTEGER}
    where Fid = #{id,jdbcType=INTEGER}
  </update>
</mapper>